In [13]:
# Load pandas
import pandas as pd

# Load numpy
import numpy as np

Use the csv file and assign it to a dataframe called words

In [15]:
path = r'C:\Users\FZ\Dropbox\FYP Master Degree\SRS\wordlist_140417.csv'
words = pd.read_csv(path)

See the first 5 entries

In [18]:
words.head(5)

,yang,sistem,akan,maklumat,papar,maklumbalas,dan,untuk,telah,mohon,...,statistik,talian,tapak,tempatan,terdahulu,tinggi,transaksi,video,www,CLASS
0,0,0,0,0,0,2,0,1,0,0,...,0,0,0,0,0,0,0,0,0,N
1,1,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Y
2,2,1,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Y
3,1,0,1,0,0,3,2,3,0,0,...,0,0,0,0,0,0,0,0,0,Y
4,2,0,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Y

What is the number of observations in the dataset?

In [30]:
words.shape #both (observations/rows, columns)
words.shape[0] #observations/rows number

180

What is the number of columns in the dataset?

In [31]:
words.shape[1] #observations/columns number

406

In [36]:
words.info() #Columns: 159 entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Columns: 406 entries, yang to CLASS
dtypes: int64(405), object(1)
memory usage: 571.0+ KB